<h1><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h1><br>
<h1><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h1><br>
<h2><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h2>